<div ng-controller = "DetalheMoviePresenter" class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9">
        <article style="width: 100%; min-height: 350px; margin-left: 15%;">
                    <div class="back-img-details">
                        <div class="back-img-details-blur">
                            <div style="background: url('/fonts/banner/everly_grande.jpeg') no-repeat center;"></div>
                        </div>
                        <div class="back-img-details-overlay" style="background: url('/fonts/banner/everly_grande.jpeg') no-repeat center; box-shadow: 0 -10px 40px #000;">
                        </div>
                    </div>
        </article>
    </div>
    <hr class="hrcustom" />
  <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{movie.nome}} - Preço: R$ {{movie.preco}}
                    </h3>

                    <div class="ratings">
                                <p class="pull-right">{{movie.qtdVisualizacao}} Visualizações</p>
                                <p>
                                    <span ng-repeat="num in getTimes(movie.qtdEstrela) track by $index"  class="glyphicon glyphicon-star"></span>
                                </p>
                    </div>
                       <div class="text-center">
                                        <a type="submit"  href="#/meucarrinho" ng-click="addItem(movie)" class="btn btn-default btn-lg">Alugar</a>
                        </div>

                </div>
                <div class="panel-body">
                    {{movie.descricao}}
                </div>
            </div>
        </div>
    </div>


  </div>

<style>
    .big {
        font-size: 37px;
        border-color: #101010;
    }

    .medium {
        font-size: 23px;
    }

    .hrcustom {
        padding: 30px;
    }

    .customimage {
        width: 100%;
        height: 100%;
        position: relative;
        margin-left: 20%;
    }
    .panel-primary  .panel-heading {
    color: #FFF;
    background-color: #222;
    border-color: #337AB7;
}
</style>
