
<div ng-controller="LoginPresenter" id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">x</button>
            <h3>Login to Movie Store</h3>
          </div>
          <div class="modal-body">
            <form name="login_form">
              <p><input type="text" class="span3" ng-model="email" name="eid" id="email" placeholder="Email" required/><td><span class="error" ng-show="login_form.email.$error.required">
                    Required!</span><br></td></p>
              <p><input type="password" ng-model="senha" class="span3" name="passwd" placeholder="Password" required/> <td><span class="error" ng-show="senha==null && senha==''" >
                    Obrigatorio!</span><br></td></p>
              <p><a ng-click="login()" class="btn btn-primary">Entrar</a>
                <a href="#">Esqueceu a senha ?</a>
              </p>
            </form>
          </div>
          <div class="modal-footer">
            Novo no Movie Store?
            <a href="#cadastro" ng-click="close();" class="btn btn-primary" >Cadastre</a>
          </div>
    </div>
  </div>
</div>

