    <div class="item">
         <img  width='800' class="imagem_sobre" height='314' src="/fonts/banner/teste.jpeg" alt="">
         <div>
            <h1>
                Sobre a Movie Store
            </h1>
            <p class="text_sobre">
                Há 2 meses em uma trajetória de sucesso e crescimento saudável, a Movie Store tem atuado em todo o território nacional<br> oferencedo filmes e entreterimentos para toda a família através de apenas alguns clicks <span class="glyphicon glyphicon-sunglasses"></span>.

            </p>
         </div>
    </div>
